Рассмотрим статистику hh.ru по кандидатам на IT вакансии в Москве - https://stats.hh.ru/moscow#vacancies%5Btype%5D=comparison&vacancies%5Bprofarea%5D%5B%5D=1&portrait%5Bprofarea%5D=1&portrait%5Bactive%5D=true
    
На момент составления этого задания картинка выглядела примерно так:

<img src="https://stepik.org/media/attachments/lesson/360204/5_-_hh.png">

Соберите собственную версию такого интерактивного отчёта, включающую в себя 4 основных элемента портрета:

- Возраст

- Опыт

- Образование

- Пол

По всей видимости, вы не сможете сформировать 1 фигуру в jupyter notebook со всеми 4 картинками с помощью make_subplots, т.к. для разных графиков одной фигуры нельзя использовать разный barmode - https://community.plotly.com/t/how-to-plot-subplots-with-different-barmodes/5775.

**Однако, если кому-то это удастся, то такое решение следует считать таким же правильным**, как и альтернативный путь - сборка отдельной HTML страницы с 4 отдельными фигурами.

В последнем случае рекомендуем использовать bootstrap (или другой фреймворк, позволяющий задать адаптивную вёрстку) и вставить на страницу 4 независимых графика - это позволит на мобильных устройствах отобразить их более удобно в 1 колонку.

Любое решение должно рассматриваться как верное, если оно генерирует интерактивный график.

P.S. Числа вам придётся забить самостоятельно... =(

P.P.S. решение с 2 фигурами (3 в ряд + 1) тоже вполне валидно

In [ ]:
import pandas as pd
import numpy as np
import plotly
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import json

In [ ]:
age = pd.DataFrame({'Мужчины':[0, 2, 50, 36, 9, 2, 1], 'Женщины':[0, 2, 61, 29, 7, 1, 0]},
                   index=['До 20', '20-25', '26-35', '36-45', '46-55', '56-60', '>60'])

display(age)

experience = pd.DataFrame({'Мужчины':[3, 9, 23, 18, 19, 13, 15],
                           'Женщины':[3, 13, 29, 20, 17, 9, 9]},
                          index=['До 1 года', '1-3', '3-6', '6-9', '9-12', '12-15', '> 15 лет'])

display(experience)

education = pd.DataFrame({'Образование': [1, 5, 9, 85]},
                         index=['Среднее', 'Среднее специальное', 'Незаконченное высшее', 'Высшее'])

display(education)

sex = pd.DataFrame({'Пол': [80, 20]}, index=['Мужчины', 'Женщины'])
display(sex)

       Мужчины  Женщины
До 20        0        0
20-25        2        2
26-35       50       61
36-45       36       29
46-55        9        7
56-60        2        1
>60          1        0

           Мужчины  Женщины
До 1 года        3        3
1-3              9       13
3-6             23       29
6-9             18       20
9-12            19       17
12-15           13        9
> 15 лет        15        9

                      Образование
Среднее                         1
Среднее специальное             5
Незаконченное высшее            9
Высшее                         85

         Пол
Мужчины   80
Женщины   20

In [ ]:
fig = go.Figure()
fig.add_trace(
    go.Bar(y=age.index,
           x=age["Мужчины"],
           name="Мужчины",
           orientation='h',
           marker=dict(color='#5371f4', line=dict(color='#5371f4', ))))

fig.add_trace(
    go.Bar(y=age.index,
           x=age["Женщины"],
           name="Женщины",
           orientation='h',
           marker=dict(color='#f65242', line=dict(color='#f65242', ))))

fig.update_traces(texttemplate='%{x:.2s}%', textposition='outside')
fig.update_yaxes(autorange="reversed",
                 tickfont=dict(family="Courier New", size=13),
                 tickvals=[0, 1, 2, 3, 4, 5, 6],
                 ticktext=[
                     s + ' ' * (len(max(list(age.index))) - len(s) + 1)
                     for s in list(age.index)
                 ])
fig.update_layout(
    title=dict(text="<b>Возраст</b>",font=dict(color="darkblue", size=18)),
    barmode='group',
    legend_orientation="h",
    legend=dict(x=.5, xanchor="center"),
    margin=dict(l=0, r=0, t=40, b=0),
)

graphJSON = json.dumps(fig, cls=plotly.utils.PlotlyJSONEncoder)
with open('grjson.JSON', 'w') as file:
    file.write('var graphs_01 = {};'.format(graphJSON))

fig = go.Figure()
fig.add_trace(
    go.Bar(y=experience.index,
           x=experience["Мужчины"],
           name="Мужчины",
           orientation='h',
           marker=dict(color='#5371f4', line=dict(color='#5371f4', ))))

fig.add_trace(
    go.Bar(y=experience.index,
           x=experience["Женщины"],
           name="Женщины",
           orientation='h',
           marker=dict(color='#f65242', line=dict(color='#f65242', ))))
fig.update_traces(texttemplate='%{x:.2s}%', textposition='outside')
fig.update_yaxes(autorange="reversed",
                 tickfont=dict(family="Courier New", size=12),
                 tickvals=[0, 1, 2, 3, 4, 5, 6],
                 ticktext=[
                     s + ' ' * (len(max(list(experience.index))) - len(s) + 1)
                     for s in list(experience.index)
                 ])
fig.update_layout(
    title=dict(text="<b>Опыт работы</b>",font=dict(color="darkblue", size=18)),
    barmode='group',
    legend_orientation="h",
    legend=dict(x=.5, xanchor="center"),
    margin=dict(l=0, r=0, t=40, b=0),
)


graphJSON = json.dumps(fig, cls=plotly.utils.PlotlyJSONEncoder)
with open('grjson.JSON', 'a') as file:
    file.write('var graphs_02 = {};'.format(graphJSON))

fig = go.Figure()
fig.add_trace(go.Pie(values=education["Образование"],
                     labels=education.index,
                     legendgroup="education",
                     hole=0.5))
fig.update_layout(
    title=dict(text="<b>Образование</b>",font=dict(color="darkblue", size=18)),
    legend_orientation="h",
    legend=dict(x=0, xanchor="left"),
    margin=dict(l=0, r=0, t=40, b=0),
)
graphJSON = json.dumps(fig, cls=plotly.utils.PlotlyJSONEncoder)
with open('grjson.JSON', 'a') as file:
    file.write('var graphs_03 = {};'.format(graphJSON))

fig = go.Figure()
fig.add_trace(
    go.Bar(y=sex.index,
           x=sex.loc["Мужчины"],
           name="Мужчины",
           orientation='h',
           marker=dict(color='#5371f4', line=dict(color='#5371f4', ))))

fig.add_trace(
    go.Bar(y=sex.index,
           x=sex.loc["Женщины"],
           name="Женщины",
           orientation='h',
           marker=dict(color='#f65242', line=dict(color='#f65242', ))))
fig.update_traces(texttemplate='%{x:.2s}%', textposition='inside')
fig.update_traces(hoverinfo="skip")
fig.update_yaxes(showticklabels=False, visible=True)
fig.update_layout(
    title=dict(text="<b>Пол</b>",font=dict(color="darkblue", size=18)),
    barmode='stack',
    legend_orientation="h",
    legend=dict(x=.5, xanchor="center"),
    margin=dict(l=0, r=0, t=30, b=0),
    height=120,
)


graphJSON = json.dumps(fig, cls=plotly.utils.PlotlyJSONEncoder)
with open('grjson.JSON', 'a') as file:
    file.write('var graphs_04 = {};'.format(graphJSON))